<footer id="page__footer">
  <div class="wrapper">
    <a href="#page__header" class="page__link footer__arrow-link"><img src="assets/images/ico-arrow.svg" class="img-arrow" alt="arrow scroll up"/></a>
    <div class="footer__lists-container">
      <ul class="footer__list list-content">
        <li class="list__item"><a href="#" class="list__link">articles</a></li>
        <li class="list__item"><a href="#" class="list__link">books</a></li>
        <li class="list__item"><a href="#" class="list__link">events</a></li>
        <li class="list__item"><a href="#" class="list__link">reasons</a></li>
        <li class="list__item"><a href="#" class="list__link">tips</a></li>
      </ul>
      <ul class="footer__list list-social-media">
        <li class="list__item"><a href="#" class="list__link">twitter</a></li>
        <li class="list__item"><a href="#" class="list__link">instagram</a></li>
        <li class="list__item"><a href="#" class="list__link">mastodon.social</a></li>
      </ul>
      <ul class="footer__list">
        <li class="list__item">&copy;2017</li>
        <li class="list__item">we <span class="heart-icon"> ❤︎ </span>components</li>
      </ul>
    </div>
  </div>
</footer>
