<footer class="page__footer">
  <div class="wrapper">
    <a href="#page__header" class="page__link arrow-footer"><img src="../../assets/images/ico-arrow.svg" class="img-arrow" alt="arrow scroll up"/></a>
    <ul class="footer_list list-content">
      <li class="list__item">arrticles</li>
      <li class="list__item">books</li>
      <li class="list__item">events</li>
      <li class="list__item">reasons</li>
      <li class="list__item">tips</li>
    </ul>
    <ul class="footer_list list-social-media">
      <li class="list__item">arrticles</li>
      <li class="list__item">books</li>
      <li class="list__item">events</li>
      <li class="list__item">reasons</li>
      <li class="list__item">tips</li>
    </ul>
    <ul class="footer_list">
      <li class="list__item">&copy; 2017</li>
      <li class="list__item">we<i class="fas fa-heart heart-icon"></i> components</li>
    </ul>
  </div>
</footer>
