<header id="page__header">
  <div class="wrapper">
    <button type="button" class="header__menu-button"><img class="menu-icon" src="../../assets/images/ico-menu.svg" class="img-arrow" alt="icon menu" /></button>
    <div class="header__content">
      <h1 class="header__title">Anonimous Proxy</h1>
      <p class="header__subtitle">In hac habitasse platea dictumst.</p>
      <a href="#main__first-section" class="page__link"><img src="../../assets/images/ico-scroll-down.svg" alt="arrow scroll down"/></a>
    </div>
  </div>
</header>
