<main class="page__main">
  <section id="main__first-section">
    <div class="wrapper">
      <p class="first-section__subtitle">insomnia Tips</p>
      <h2 class="first-section__title">looking through a window</h2>
      <p class="first-section__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class=" btn btn-go">Go</button>
    </div>
  </section>
  <section id="main__second-section"></section>
</main>
