<main class="page__main">
  <section id="main__first-section">
    <div class="wrapper">
      <p class="first-section__subtitle">insomnia Tips</p>
      <h2 class="title__section first-section__title">looking through a window</h2>
      <p class="first-section__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class=" btn btn-go">Go</button>
    </div>
  </section>
  <section id="main__second-section">
    <div class="wrapper">
      <h2 class="title__section second-section__title">3 reasons to purchase</h2>
      <div class="products">
        <div class="product">
          <h3 class="product__title">Ut sed metus</h3>
          <p class="product__details">Lorem inspum dolor sit amet, consectur.</p>
        </div>
        <div class="product">
          <h3 class="product__title">Curabitur ac erat</h3>
          <p class="product__details">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="product">
          <h3 class="product__title">Morbu dictum</h3>
          <p class="product__details">Alquam in dolor et solor tincidunt.</p>
        </div>
      </div>
      <button class="btn btn-reasons">More reasons</button>
    </div>
  </section>
</main>
