<main class="page__main">
  <section class="section__first">
    <h1 class="first__section-h1">anonymous proxy</h1>
    <p><a class="trello" href="https://trello.com">25/03/2019</a></p>
  </section>
  <section id="main__first-section">
    <div class="wrapper">
      <p class="first-section__subtitle">insomnia tips</p>
      <h2 class="first-section__title">looking through a window</h2>
      <p class="first-section__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button type="button" class="btn btn-go">Go</button>
    </div>
  </section>
  <section id="main__second-section">
    <div class="wrapper">
      <h2 class="second-section__title">3 reasons to purchase</h2>
      <div class="products">
        <div class="product">
          <h3 class="product__title">Ut sed metus</h3>
          <p class="product__details">Lorem inspum dolor sit amet, consectur.</p>
        </div>
        <div class="product">
          <h3 class="product__title">Curabitur ac erat</h3>
          <p class="product__details">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="product">
          <h3 class="product__title">Morbu dictum</h3>
          <p class="product__details">Alquam in dolor et solor tincidunt.</p>
        </div>
      </div>
      <button type="button" class="btn btn-reasons">More reasons</button>
    </div>
  </section>
</main>
