.page__link {
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  .img-arrow {
    vertical-align: middle;
  }
}

.btn {
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  border: none;
  font-size: 20px;
  line-height: 2.25;
  font-family: $content-font;
  padding: 0 25px;
  font-weight: 500;
  cursor: pointer;
  @media all and (min-width: 768px) {
    padding: 0 33px;
  }
  @media all and (min-width: 1280px) {
    padding: 0 67px;
  }
}
