* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $content-font;
  color: $color-black;
}

.wrapper {
  padding: 0 15px;
  height: 100%;
  width: 100%;
  @media all and (min-width: 768px) {
    padding: 0 39px;
  }
}
