.page__footer {
  background-color: $color-darkBlue;
  color: $color-white;
  padding: 60px 0 45px;
  font-family: $content-font;
  text-align: center;
  position: relative;
  @media all and (min-width: 768px) {
    padding: 60px 0 45px;
  }
}

.footer_list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  text-align: center;
  &:last-child {
    margin: 0;
    .list__item {
      font-size: 14px;
      text-transform: lowercase;
    }
  }
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.list__item {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.88;
}

.heart-icon {
  color: $color-orange;
}

.arrow-footer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.lists-container {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }
}

.list-content {
  grid-column: 2/3;
  grid-row: 1/2;
}

.list-social-media {
  grid-column: 3/4;
  grid-row: 1/2;
}
