#page__header {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: url('../../../assets/images/cover.jpg') center center no-repeat $color-white;
  background-size: cover;
  color: $color-white;
  text-align: center;
}

.header__menu-button {
  background-color: $color-blue;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 44px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;

  .menu-icon {
    width: 16px;
    height: 14px;
    vertical-align: middle;
  }
}

.header__content {
  padding: 0 15px 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  .header__title {
    font-size: 42px;
    line-height: 1.31;
    width: 290px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 0 15px 10px;
    text-transform: uppercase;
    font-family: $title-font;
  }

  .header__subtitle {
    font-size: 16px;
  }
}
