// colors
$color-white: #fff;
$color-darkWhite: #eff9ff;
$color-orange: #f26002;
$color-lightBlue: #8ccbea;
$color-blue: #0271bc;
$color-darkBlue: #304268;
$color-darkGrey: #4a4a4a;
$color-black: #000;

// font
$content-font: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', serif;
